*{
  margin: 0;
}
body{
  background: linear-gradient(to right, #5f72ff, #7bfefa);
}
.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  animation: fadeInSlideIn 2s ease-in-out;
}
.title:hover{
  letter-spacing: 2px;
  transition: 1s;
}
@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width:576px) {
  .title{
    font-size: 25px;
    font-weight: 700;
  }
}
header{
  border-bottom: 2px solid grey;
  box-shadow: 1px 1.3px 2px grey;
  padding: 20px;
}

form{
  margin: auto;
  padding-left: 40px;
}

form {
  animation: formFadeIn 2s ease-in-out;
}
@keyframes formFadeIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.vehicle{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.totalDistance{
  padding: 9px;
  border-radius: 5px;
}
.errorMessage{
  color: red;
}